$colours: (
  "blue": #2e3a8c,
  "green": #3b755f,
  "beige": #f2ebdb,
  "white": #fff,
  "black": #000,
  "darkgrey": #212121,
  "lightgreen": #afc6bd,
);

@each $name, $colour in $colours {
  .bg-#{$name} {
    background: $colour;
  }

  .icon-colour-#{$name} {
    path,
    rect {
      fill: $colour !important;
    }
  }

  .text-#{$name} {
    color: $colour;
  }
}
