@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/fonts/Cabin-Regular.ttf");
}

@font-face {
  font-family: "Cabin";
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: url("/src/assets/fonts/Cabin-SemiBold.ttf");
}

@font-face {
  font-family: "Cabin";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("/src/assets/fonts/Cabin-Bold.ttf");
}
