@use "fonts";
@use "colours";
@use "mixins";
@use "sass:map";

* {
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  margin: 0;
}

.hover {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.hover-circle {
  z-index: 1;

  &:hover {
    &::before {
      content: "";
      display: block;
      width: 160%;
      height: 160%;
      border-radius: 50%;
      z-index: -1;
      background: map.get(colours.$colours, "lightgreen");
      opacity: 0.3;

      @include mixins.center;
    }
  }
}
