@use "colours";

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.hover {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
